USE [master]
GO
/****** Object:  Database [VideotheekHofmanLaurens]    Script Date: 14/12/2017 22:01:18 ******/
CREATE DATABASE [VideotheekHofmanLaurens]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideotheekHofmanLaurens', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LAURENSSQL\MSSQL\DATA\VideotheekHofmanLaurens.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideotheekHofmanLaurens_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LAURENSSQL\MSSQL\DATA\VideotheekHofmanLaurens_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideotheekHofmanLaurens].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideotheekHofmanLaurens]
GO
USE [VideotheekHofmanLaurens]
GO
/****** Object:  User [VideotheekHofmanLaurens]    Script Date: 14/12/2017 22:01:18 ******/
CREATE USER [VideotheekHofmanLaurens] FOR LOGIN [VideotheekHofmanLaurens] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [VideotheekHofmanLaurens]
GO
ALTER ROLE [db_datareader] ADD MEMBER [VideotheekHofmanLaurens]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [VideotheekHofmanLaurens]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/12/2017 22:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DVDs]    Script Date: 14/12/2017 22:01:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DVDs](
	[DVD_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[stock] [int] NOT NULL,
	[reserved_amount] [int] NULL,
	[price] [decimal](18, 2) NOT NULL,
	[director] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[PEGI_age] [int] NULL,
	[genres] [nvarchar](max) NULL,
	[DVD_type] [nvarchar](max) NULL,
	[movie_duration] [int] NULL,
	[series_episodes] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[modified_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK_dbo.DVDs] PRIMARY KEY CLUSTERED 
(
	[DVD_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DVDs] ON 

SET IDENTITY_INSERT [dbo].[DVDs] OFF
USE [master]
GO
